[Unit]
Description=Checksum-Sentinel persistent database updater

[Service]
Type=oneshot
ExecStart=/usr/local/bin/css-update --update-persistent
ExecStartPost=/bin/systemctl restart css.service
