[Unit]
Description=Checksum-Sentinel recent database updater

[Service]
Type=oneshot
ExecStart=/usr/local/bin/css update --recent
ExecStartPost=/bin/systemctl restart css.service
