[Unit]
Description=Checksum-Sentinel file watcher
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/css
Restart=always
RestartSec=5s
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
Environment="XDG_RUNTIME_DIR=/run/user/1000"
User=

[Install]
WantedBy=multi-user.target
